{{ define "main" }}
<style>
  img {
    display: block;
    max-width:300px;
    max-height:300px;

}

.boder
{
text-align: center;
    font-family:arial;
    border-width: 5px;
    border-radius:5%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.068);
}
</style>
<section class="section">
  <div class="container ">
    <h1 class="text-center mb-4">Gallery</h1>
    <div class="row justify-content-center">
      
      {{ range .Site.Data.images }}
 
          <div class="mb-4 p-4">
            <img width="300" height="300"src="https://drive.google.com/uc?export=view&id={{ .images }}" alt="{{ .alt }}" class="boder mb-3 img-fluid img-thumbnail" >
          </div>
        {{ end }}
      
    </div>
  </div>
</section>

{{ end }}


